.appHeader {
  height: 64px;
  position: fixed;
  width: 100%;
  z-index:1000;
  background-color: #fff;
  display: flex;
  input {
    width: 500px;
    margin-top: 10px;
    margin-left: 290px;
    border-radius: 10px;
    background-color: #F1F3F4;
  }
  img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    margin-left: 20px;
  }
}


.loginBlock {
  margin-left: 30%;
  a {
    text-decoration: none;
    color: #1e24ff;
    font-weight: bold;
  }

  margin-top: 20px;
}