.appNavbar {
  margin-top: 40px;
  position: fixed;
}

.navbarMenu {
  ul{
    list-style: none;
    font-weight: 400;
    a{
      color: #000;
      text-decoration: none;
    }
    .active {
      color: #17A2B8;
      transition: ease 1s;
      font-weight: bold;
    }
  }
}

.activeMenuButton {
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 25px;
  margin-bottom: 5px;
  padding: 5px;
  img{
    padding-right: 10px;
  }

}
