.appNavbar {
}

.navbarMenu {
  ul{
    list-style: none;
    a{
      color: #fff;
      text-decoration: none;
    }
    a.active {
      color: #F45099;
    }
  }
}

.activeMenuButton {
  padding: 5px;
  text-align: center;
  img{
    padding-right: 10px;
  }
}