.dialog {
  width: 280px;
  height: 85px;
  background-color: #fff;
  border: 1px solid #F1F3F4;
  padding: 20px 18px;
  img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

}

.dialogItem {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  padding-left: 10px;
  &:hover {
    text-decoration: none;
    color: #0cc5f4;
  }
}

